.box1 {
	width: 500px;
	background: #3b97d3;
/*	padding: 5px 100px 5px 100px;*/
	padding: 5px 100px;
}

.box2 {
	width: 500px;
	background: #9bcc5e;
/*	margin-top: 50px;
	margin-right: 70px;
	margin-bottom: 50px;
	margin-left: 70px;
 */
/*	margin: 50px 70px 50px 70px; /*ten zapis odpowiada temu wyzej*/
	margin: 50px 70px;
/*	padding-top: 30px;
	padding-right: 60px;
	padding-bottom: 20px;
	padding-left: 10px; */
	padding: 30px 60px 20px 10px; /*zapis skrocony rowny temu powyzej*/
}

.box3 {
	width: 500px;
	background: #efc332;
}
